@import url("../fonts/stylesheet.css");
@import url("./animations.scss");

body {
  font-family: "Segoe UI", sans-serif;
}

.dark {
  color-scheme: light !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 700;
  line-height: 140%;
}

.link-hover {
  @apply hover:text-green-main active:text-green-500 transition-colors;
}

.link-group-hover {
  @apply group-hover:text-green-main group-active:text-green-500 transition-colors;
}

.link-group-hover-dark {
  @apply group-hover:text-white-500 group-active:text-white-400 transition-colors;
}

.link-underline a,
a.link-underline {
  text-decoration: none;
  position: relative;
  transition: background-size 0.3s ease-in-out,
    background-position 0.3s ease-in-out, color 0.3s ease-in-out;

  background-image: linear-gradient(#019eae, #019eae);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%;
}

.link-underline a:hover,
a.link-underline:hover {
  color: #fff;
  background-size: 100% 100%;
  background-position: 0 100%;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;

  @apply space-y-3;
}

ul {
  list-style-position: outside;
  list-style-image: url("~/assets/icons/list-item.svg");
  padding-left: 20px;

  @apply space-y-3;
}

blockquote {
  @apply bg-green-100 px-8 py-5 font-semibold space-y-5 border-l-4  border-green-500;
}
